.container {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
  column-gap: 0.5rem;
  box-shadow: 5px 5px 20px 5px #ccc;
}

.value {
  font-size: 40px;
}

.content {
  padding: 0 1rem;
}

.container p {
  color: rgb(160, 158, 158);
  font-weight: 700;
}

@media (max-width: 920px) {
  .value {
    font-size: 24px;
  }

  .container {
    padding: 1rem;
  }

  .container p {
   font-size: 14px;
  }
}
