.monthlydetails {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
}

.MonthStats {
  font-size: 24px;
  padding: 1rem 0;
  margin: 1rem 0;
  font-weight: bold;
  border-bottom: 4px solid #75c9b7;
  width: fit-content;
}

.mileageComp,
.mileageCompPrev {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;
}

.mileageCompPrev {
  grid-template-columns: 30% 65%;
}

.mileageCompDiv,
.mileageCompPrevDiv {
  border-radius: 8px;
  height: 300px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 20px 5px #ccc;
}

.VehInfo {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  margin: 0.5rem 0 3rem 0;
  font-weight: 600;
}

.VehInfo p {
  margin: 0;
}

.selectInp::after {
  border-bottom: 1px solid #75c9b7 !important;
}

@media (min-width: 576px) {
}

@media (min-width: 577px) and (max-width: 920px) {
  .monthlydetails {
    grid-template-columns: repeat(2, 45%);
    row-gap: 2rem;
  }

  .mileageComp,
  .mileageCompPrev {
    grid-template-columns: 99%;
    row-gap: 2rem;
  }
}
