.container {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container p {
  margin-bottom: 2rem;
}

.container a:visited,
.container a {
  text-decoration: none;
  color: #75c9b7;
  padding: 16px;
  transition: all 0.3s ease-out;
  width: 20%;
}

.container a:hover {
  border-bottom: 2px solid #75c9b7;
  background: black;
}

.img {
  margin-bottom: 2rem;
  height: 450px;
  padding: 1rem;
}

@media (max-width: 576px) {
  .img {
    height: 200px;
  }

  .home {
    font-size: 1rem;
  }

  .container a:visited,
  .container a {
    width: 40%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .img {
    height: 300px;
  }

  .home {
    font-size: 1.5rem;
  }

  .container a:visited,
  .container a {
    width: 40%;
  }
}
