.Mui-selected {
  color: #75c9b7 !important;
  background-color: #16123f !important;
}

.MuiTabs-indicator {
  background-color: #75c9b7 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #75c9b7 !important;
}

.MuiInputLabel-root {
  color: #16123f !important;
  font-weight: bolder !important;
}

@media (min-width: 200px) and (max-width: 1100px){
  .MuiTabPanel-root {
    padding: 0.5rem !important;
  }
}