.container {
  display: grid;
  grid-template-columns: 65% 30%;
  column-gap: 1rem;
}

.reDiv {
  border: 2px solid #ccc;
  padding: 1rem;
  text-align: center;
  margin: 3rem 0rem;
}

.dataDiv {
  padding: 1rem;
}

.tabContainer {
  width: 60%;
  margin: 0 auto 1rem auto;
}

.addRecordCont {
  display: grid;
  grid-template-columns:55% 40%;
  column-gap: 1rem;
  align-items: center;
}

.addRecLastRec {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem 2rem;
  text-align: center;
  
}

.addRecLastRec p {
  font-size: 18px;
  color: #16123f;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 2px solid #75c9b7;
}

.details p{
  color: #75c9b7;
  font-size: 1rem;
  text-align: left;
  border: none;
  padding: 0;
  margin: 2rem 0;
  width: 100%;
}

.details strong {
  color: #16123f;
  text-align: right;
}

.optionsCont {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.options {
  margin: 0 auto !important;
  width: 80%;
}